<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Mars Information</title>
  </head>
  <body>
    <div class="jumbotron text-center">
        <h1 class="display-4">Mission to Mars</h1>
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
      </div>

      <div class="row text-center">
        <div class="col col-12">
          <h1>Latest Mars News</h1>
          <h3>{{mars_scrape.News_Title}}</h3>
          <p>{{mars_scrape.News_Content}}</p>
          <br>
        </div>
      </div>

      <div class="row">
        <div class="col col-8">
          <h1>Featured Mars Image</h1>
          <img src={{mars_scrape.Mars_Featured_Image}} alt="Mars Featured Image">
        </div>
        <div class="col col-4">
          <div class="card text-center">
              <h3> Weather Update</h3>
              <p>{{mars_scrape.Mars_Weather_Data}}</p>
            </div>
            <br>
          <h3>Mars Facts</h3>
           {{mars_scrape.Mars_Facts | safe}}
            <br>
      </div>
    </div>
    <br>
    <br>
            
        <div class="jumbotron" id="Hemispheres">
            <div class="col col-12 text-center">
                <h2>Mars Hemispheres</h2>
            </div>
          </div>

          <div class="row">
            {% for image in mars_scrape.Mars_Hemisphere_Images %}
            <div class="col col-6 text-center">
              <div class="boxmargin">
                <img src= {{image.Image_URL}} alt="Hemisphere Images" style="width:70%">
                <h3>{{image.Title}}</h3> 
               </div>
            </div>
            {% endfor %}
          </div>  
      </div>      
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>